.content {
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding : 0 90px;
    z-index: inherit;
}

.content>div{
    width: auto;
    height: auto;
    overflow: hidden;

}

.content h3{
    font-family: 'Barlow_Medium';
    font-size: 80px;
    font-weight: 700;
    color: white;
    position: relative;
    transition: all 500ms ease-in-out 0s;


}
.content p{
    font-family: 'NotoSansKR_Regular';
    color: #fff;
    font-size: 24px;
    line-height: 34px;
    margin-top: 20px;
    transition: all 700ms ease-out 0s;
    position: relative;

}

    
.more {
    font-size: 12px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50px;
    height: 20px;
    background-color: #e50019;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
    transition: all 1000ms ease-out 0s;

}
